#about-grid {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
  width: 80%;
  height: 90%;
}

#about-grid > div {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  gap: 0.6rem;
  text-transform: capitalize;
  padding: 0.65dvw;
  box-sizing: border-box;
  background-color: var(--primary);
}

#about-grid > div > h1 {
  /* font-family: "Cubano", sans-serif; */
  font-weight: 1000;
  font-size: clamp(1.4rem, 1dvw + 1.4rem, 2rem);
  /* color: var(--background); */
  padding: 0rem 0.5rem;
  border-radius: 8px;
  /* margin-bottom: 2%; */
  /* background-color: var(--special); */
}

#about-grid > div > p {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: clamp(0.5rem, 1.2vh + 0.5rem, 1.4rem);
  font-weight: 350;
}

#about-section-1,
#about-section-2,
#about-section-3 {
  min-height: 300px;
}

#about-section-2,
#about-section-3 {
  background-color: var(--secondary) !important;
}

#about-section-4,
#about-section-5 {
  height: 100%;
  min-height: 100px;

  background-color: var(--accent) !important;
}

#about-section-6,
#about-section-7 {
  height: 375px;
  overflow: hidden;
  padding: 0px !important;
}

#about-section-1 {
  justify-content: center !important;
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  flex: 1 1 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: fit-content;
}

#about-section-2 {
  justify-content: space-between !important;
}

.about-cnt-break {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  gap: 0.6rem;
  text-transform: capitalize;
}

.about-cnt-break > h1 {
  /* font-family: "Cubano", sans-serif; */
  font-weight: 1000;
  font-size: clamp(1.4rem, 1dvw + 1.4rem, 2rem);
  /* color: var(--background); */
  padding: 0rem 0.5rem;
  border-radius: 8px;
  /* margin-bottom: 2%; */
  /* background-color: var(--special); */
}

.about-cnt-break > p {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: clamp(0.5rem, 1.2vh + 0.5rem, 1.4rem);
  font-weight: 350;
}

#about-section-1 {
  grid-area: 1 / 1 / 5 / 4;
}

#about-section-2 {
  grid-area: 1 / 4 / 5 / 9;
}

#about-section-3 {
  grid-area: 1 / 9 / 5 / 13;
}

#about-section-4 {
  grid-area: 5 / 1 / 7 / 7;
}

#about-section-5 {
  grid-area: 5 / 7 / 7 / 13;
}

#about-section-6 {
  grid-area: 7 / 1 / 11 / 7;
}

#about-section-7 {
  grid-area: 7 / 7 / 11 / 13;
}

.event-name {
  color: var(--accent-alt);
  font-family: "Cubano", sans-serif;
}
.school-name {
  color: var(--accent-alt);
}
.free {
  color: rgb(151, 234, 8);
}

@media (max-width: 1700px) {
  #about-section-4,
  #about-section-5 {
    padding: 20px !important;
  }
  #about-section-4 > h1,
  #about-section-5 > h1 {
    font-size: clamp(1.7rem, 1dvw + 1rem, 1.5rem) !important;
  }
  #about-section-4,
  #about-section-5 {
    gap: 0.3dvh !important;
  }
  #about-section-4 > p,
  #about-section-5 > p,
  #about-section-3 > p {
    font-size: clamp(0.5rem, 1.2vh + 0.5rem, 0.96rem) !important;
  }
}

@media (max-width: 1340px) {
  #about-grid {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(12, 1fr);
    width: 95%;
  }

  #about-section-1 {
    grid-row: 1/2;
    grid-column: 1/7;
  }
  #about-section-2 {
    grid-row: 1/2;
    grid-column: 7/13;
  }
  #about-section-3 {
    grid-row: 2/3;
    grid-column: 3/11;
  }
  #about-section-4 {
    grid-row: 3/4;
    grid-column: 1/7;
  }
  #about-section-5 {
    grid-row: 3/4;
    grid-column: 7/13;
  }
  #about-section-6 {
    grid-row: 4/6;
    grid-column: 1/13;
  }
  #about-section-7 {
    grid-row: 5/6;
    grid-column: 1/13;
  }
}

@media (max-width: 915px) {
  #about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  #about-section-1 {
    grid-row: 1/3;
  }
  #about-section-2 {
    grid-row: 3/5;
  }
  #about-section-3 {
    grid-row: 5/7;
  }
  #about-section-4 {
    grid-row: 7/9;
  }
  #about-section-5 {
    grid-row: 9/11;
  }
  #about-section-6 {
    grid-row: 11/13;
  }
  #about-section-7 {
    grid-row: 13/15;
  }

  #about-grid > div {
    grid-column: 1/4;
  }
}
