#about-grid {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
  width: 80%;
  height: 90%;
}

#about-grid > div {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  text-transform: capitalize;
  padding: 15px;
  box-sizing: border-box;
  background-color: var(--primary);
}

#about-grid > div > h1 {
  font-family: "Cubano", sans-serif;
  font-size: clamp(2rem, 2dvw, 3rem);
  color: var(--background);
  padding: 0rem 0.5rem;
  border-radius: 8px;
  background-color: var(--special);
}

#about-grid > div > p {
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: clamp(1rem, 2dvw, 1.3rem);
}

#about-section-4,
#about-section-5 {
  height: 100%;
  min-height: 100px;
  background-color: var(--secondary) !important;
}

#about-section-6 {
  padding: 0px !important;
}

#about-section-6,
#about-section-7 {
  height: 375px;
}

#about-section-1 {
  justify-content: center !important;
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  flex: 1 1 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: fit-content;
}

#about-section-1 {
  grid-area: 1 / 1 / 5 / 4;
}

#about-section-2 {
  grid-area: 1 / 4 / 5 / 9;
}

#about-section-3 {
  grid-area: 1 / 9 / 5 / 13;
}

#about-section-4 {
  grid-area: 5 / 1 / 7 / 7;
}

#about-section-5 {
  grid-area: 5 / 7 / 7 / 13;
}

#about-section-6 {
  grid-area: 7 / 1 / 11 / 7;
}

#about-section-7 {
  grid-area: 7 / 7 / 11 / 13;
}
