#about-grid {
  display: grid;
  grid-template-rows: repeat(5, 20dvh);
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  width: 80%;
  height: 90%;
}

#about-grid > div > h1 {
  font-size: clamp(2rem, 1.2vh + 0.5rem, 3rem);
  font-weight: 450;
}

#about-grid > div > p {
  font-size: clamp(0.5rem, 1.2vh + 0.5rem, 1.4rem);
  font-weight: 150;
}

.schedule {
  grid-area: 1/1/2/4;
  background-color: var(--primary);
  padding: 1em 3em 0.7em 2em;
  border-radius: 20px;
}

.about-box {
  grid-area: 1/4/2/7;
  background-color: var(--primary);
  padding: 1em 3em 0.7em 2em;
  border-radius: 20px;
}

.map-box {
  grid-area: 2/1/4/5;
}

.info-box {
  grid-area: 2/5/4/7;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  justify-content: space-between !important;
  background-color: var(--primary);
  /* background-image: url("../assets/sifalSchool.png"); */
  background-size: 100% 100%;
  /* filter: invert(90%) grayscale(0) hue-rotate(180deg); */
}

.info-box-2 > h2,
.info-box-2 > h3 {
  font-family: "New Rocker", system-ui;
}

.info-box-2 {
  flex-direction: column;
}
.info-box > div > h1 {
  font-size: clamp(2rem, 1.2vh + 0.5rem, 3rem);
}

.info-box-3 > h2 {
  color: var(--special);
}

.organisers-box {
  grid-area: 4/1/5/4;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around !important;
  padding: 1rem;
}

.organisers-box {
  background-image: url("../assets/loop.webp");
  background-size: 40% 100%;
  background-repeat: repeat;
  animation: marquee 30s infinite linear;
  z-index: 1;
}

.autoplay-box {
  overflow: hidden;
  border-radius: 10px;
  grid-area: 4/4/5/7;
  flex-direction: column;
}

.gradient-border {
  --borderWidth: 3px;
  background: var(--primary);
  position: relative;
  padding: 1rem;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    var(--primary),
    var(--secondary),
    var(--accent),
    var(--accent-alt),
    var(--special),
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes marquee {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -1190px;
  }
}
