.card {
  border: 4px solid var(--accent);
  border-radius: 10px;

  background-color: var(--secondary);

  flex-direction: column;
  gap: 1dvh;

  padding: 1rem 1.5rem;
}

.btn-alt {
  font-family: "Space Grotesk", sans-serif;
}
