button {
  transform: translate(0, 0);
  box-shadow: 0 0 0 var(--secondary);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 var(--accent);
}
