#prize-grid {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
	width: 75%;
	height: 75%;
}
#prize-grid > div {
	border-radius: 1rem;
	display: grid;
	place-items: center;
	font-weight: 700;
	text-transform: capitalize;
	color: #fff;
}
#prize-div1 {
	grid-area: 1 / 1 / 5 / 2;
	background: #f23557;
  overflow: hidden;
}
#prize-div2 {
	grid-area: 1 / 2 / 5 / 5;
	background: #f0d43a;
	color: #000;
}
#prize-div3 {
	grid-area: 1 / 5 / 7 / 7;
	background: #22b2da;
}
#prize-div4 {
	grid-area: 5 / 1 / 7 / 5;
	background: #3b4a6b;
  justify-content: space-between;
  padding: 1rem;
}

.prize-gift-icon{
  height: 60%;
}

.prize-gift-icon svg{
  height: 100%;
}

.prize-gift-text{
  font-family: 'Space Grotesk',sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  align-items: start;
}

#break2{
  display: none;
}



@media (max-width: 1024px) {
	#prize-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(8, 1fr);
	}
	#prize-div1 { grid-area: 1 / 1 / 5 / 2; }
	#prize-div2 { grid-area: 1 / 2 / 5 / 5; }
	#prize-div3 { grid-area: 5 / 1 / 8 / 5; }
	#prize-div4 { grid-area: 8 / 1 / 9 / 5; }

  .prize-gift-icon{
  height: 100%;
 }
}

@media (max-width: 768px) {
	/* #prize-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, auto);
	}
	#prize-div1, #prize-div2, #prize-div3, #prize-div4 {
		grid-area: auto;
		min-height: 200px;
	} */

  #prize-div1 { grid-area: 1 / 1 / 5 / 2; }
	#prize-div2 { grid-area: 1 / 2 / 5 / 5; }
	#prize-div3 { grid-area: 5 / 1 / 8 / 5; }
	#prize-div4 { grid-area: 8 / 1 / 9 / 5; }

  .prize-gift-icon{
  height: 80%;
 }
 #break2{
  display: block;
 }
}
