#prize-grid {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
	gap: 20px;
	width: 75%;
	height: 75%;
}
#prize-grid > div {
	border-radius: 1rem;
	display: grid;
	place-items: center;
	font-weight: 700;
	text-transform: capitalize;
	color: #fff;
}
#prize-div1 {
	grid-area: 1 / 1 / 5 / 2;
	background: var(--secondary);
  overflow: hidden;
}
#prize-div2 {
	grid-area: 1 / 2 / 5 / 5;
	background: var(--secondary);
	color: #000;
}
#prize-div3 {
	grid-area: 1 / 5 / 7 / 7;
	background: var(--secondary);
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
#prize-div4 {
	grid-area: 5 / 1 / 7 / 5;
	background: var(--secondary);
  justify-content: space-between;
  padding: 1rem;
}

.prize-gift-icon{
  height: 60%;
}

.prize-gift-icon svg{
  height: 100%;
}

.prize-gift-text{
  font-family: 'Space Grotesk',sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  align-items: start;
}

#break2{
  display: none;
}

.pool-seperator{
 height: 50%;
 flex-direction: column;
  font-size: clamp(2.5rem, 3.3vw, 6rem);
}

.crowns{
  height: 20%;
}
.crowns svg{
  height: 80%;
}

.crowns svg:nth-child(2){
  height: 100%;
}

.prize-pool-text{
  font-size: clamp(1.4rem, 2.3vw, 2rem);
}



@media (max-width: 1024px) {
	#prize-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(8, 1fr);
	}
	#prize-div1 { grid-area: 1 / 1 / 5 / 2; }
	#prize-div2 { grid-area: 1 / 2 / 5 / 5; }
	#prize-div3 {
     grid-area: 5 / 1 / 8 / 5;
    flex-direction: row;
   }
	#prize-div4 { grid-area: 8 / 1 / 9 / 5; }

  .prize-gift-icon{
  height: 100%;
 }

 .crowns{
  height: 40%;
 }
}

@media (max-width: 768px) {


  #prize-div1 { grid-area: 1 / 1 / 5 / 2; }
	#prize-div2 { grid-area: 1 / 2 / 5 / 5; }
	#prize-div3 { grid-area: 5 / 1 / 8 / 5; }
	#prize-div4 { grid-area: 8 / 1 / 9 / 5; }

  .prize-gift-icon{
  height: 80%;
 }
 #break2{
  display: block;
 }

 #prize-div3{
  flex-direction: column;
 }
}
