.sponsers-section {
  flex-direction: column;
  gap: 10dvh;
}
.sponsor-category {
  flex-direction: column;
  gap: 3dvh;
}
.sponsor-logos {
  flex-direction: column;
  gap: 2rem;
}

.sponsor-item {
  width: 11rem;
  height: 11rem;
}

.sponsor-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
